[user]
	name = Niro Åhman
	email = niro@niro.fi

[core]
	editor = nvim
	autocrlf = input
	hooksPath = ~/.config/git/hooks

[init]
	defaultBranch = main

[pull]
	rebase = false

[push]
	autoSetupRemote = true

[alias]
	st = status
	co = checkout
	br = branch
	lg = log --oneline --graph --decorate --all
